@import url(./assets/css/header.css);
@import url(./assets/css/garage.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #c6c6c6;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}